@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  border-radius: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:linear-gradient(172deg, rgba(88, 81, 219, 0.97), #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
}


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

$navbarHeight: 6.125rem;

nav{
  width: 100%;
  height: 6.125rem;
  background: #f4f4f4e3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(10px);
  padding: 0 0.375rem;
  @media (min-width: 992px){
    padding: 0 4.375rem;
  }
  .nav-logo{
    width: 9.375rem;
  }
  .nav-item{
    color: #303030;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    height: 100%;
    border-bottom: 1px solid #0000;
    transition: 0.3s;
    @include flex('c', 'c');
    background: linear-gradient(172deg, #0000, #0000, #0000, #0000, #0000);
    &:hover{
      background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1px solid #C13584;
    }
  }

}

.dropdown-toggle{
  outline: none !important;
  border: 0 !important;
}

.dropdown-menu{
  min-width: auto !important;
}

.mobile-menu{
  width: 100%;
  height: calc(100vh - #{$navbarHeight});
  position: fixed;
  top: $navbarHeight;
  left: 0;
  background: #f4f4f4e3;
  backdrop-filter: blur(10px);
  z-index: 10;
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.3s;
  &.active{
    transform: translateX(0);
    opacity: 1;
  }
}

.def-image{
  width: 100%;
  height: auto;
}

.btn-gradient{
  padding: 0.875rem 2rem;
  border-radius: 2.375rem;
  background: linear-gradient(150deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.075rem;
  transition: 0.3s;
  background-size: 100%;
  &:hover{
    background: linear-gradient(150deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%);
    color: #fff;
    background-size: 300%;
  }
}

.header{
  margin-top: calc(#{$navbarHeight} + 3.1875rem);
  padding-bottom: 4.6875rem;
  &-title{
    color: #303030;
    font-size: 5rem;
    font-weight: 600;
    letter-spacing: -0.15rem;
    width: 26.0625rem;
    @media (max-width: 767px){
      width: 100%;
    }
    .shape{
      position: relative;
      transform-origin: bottom;
      transform: translate(0, 0) rotate(0) scaleY(1);
      animation: shapeWord 2s linear;
      //animation-iteration-count: infinite;
    }
  }
  &-subtitle{
    color: rgba(30, 30, 30, 0.72);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: -0.045rem;
    margin-bottom: 4.375rem;
    @media (max-width: 767px){
      width: 100%;
    }
  }
}




@keyframes shapeWord {
  0%{
    transform: translate(-50px, -215px) rotate(0);
    animation-timing-function: ease-in;
  }
  18%{
    transform: translate(0,0) rotate(20deg) scaleY(0.7);
    animation-timing-function: ease-out;
  }
  30%{
    transform: translate(-30px, -100px) rotate(10deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  45%{
    transform: translate(-20px, 0px) rotate(-20deg)  scaleY(0.8);
    animation-timing-function: ease-out;
  }
  80%{
    transform: translate(0, -70px) rotate(0) scaleY(1);
    animation-timing-function: ease-in;
  }
  89%{
    transform: translate(0, 0) rotate(0) scaleY(0.8);
    animation-timing-function: ease-out;
  }
  100%{
    transform: translate(0, 0) rotate(0) scaleY(1);
    animation-timing-function: ease-in;
  }
}

.services{
  background: #FAFAFA;
}

.section-title{
  color: #303030;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.section-subtitle{
  color: #303030;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 159.5%; /* 31.9px */
  letter-spacing: 0.2px;
}

.gradient-card{
  width: 100%;
  height: 100%;
  padding: 2px;
  border-radius: 2.1875rem;
  background: #FFF;
  box-shadow: 1.875rem 4.625rem 8.375rem 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
  overflow: hidden;
  background-size: 100%;

  &:hover{

    background-size: 500%;

    .gradient-card-running-line{
      animation-play-state: running !important;
    }
  }

  &-image{
    width: 100%;
    height: 9.375rem;
    margin-bottom: 1.25rem;
    border-radius: 1.4375rem;
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transition: 0.3s;
  }

  &-body{
    width: 100%;
    min-height: 100%;
    background: #fff;
    border-radius: 2.0625rem;
    padding: 1.375rem;
    overflow: hidden;

  }
  &-running-line{
    font-size: 10.625rem;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 2px black;
    transform: translateX(6.9375rem);
    background: linear-gradient(180deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%);
    -webkit-background-clip: text;
    -webkit-text-stroke: 4px transparent;
  }
  &-title{
    color: #303030;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
  }
  &-subtitle{
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &-list{
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    padding-left: 22px;
  }
}

@keyframes gradient-card-line {
  0%{
    transform: translateX(111px);
  }
  50%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(111px);
  }
}

.table-tooltip{
  width: 3.5rem;
  height: 3.125rem;
  border-radius: 6px;
  background: rgba(131, 58, 180, 0.88);
  @include flex('c' ,'c');
  position: relative;
  color: #fff;
  font-size: 1.25rem;
  &:after{
    content: "";
    position: absolute;
    right: -0.5rem;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/arow-right.svg") no-repeat center;
    height: 1rem;
    width: 0.5rem;

    @media (max-width: 991px){
      top: unset;
      transform: rotate(90deg) translateY(0);
      left: 46%;
      bottom: -10px;
    }
  }
}
.border{
  border: 0.5px solid var(--color-split, rgba(0, 0, 0, 0.06)) !important;
}
.border-right{
  border-right: 0.5px solid var(--color-split, rgba(0, 0, 0, 0.06)) !important;
  @media (max-width: 991px){
    border-right: 0 !important;
  }
}

.our-projects{
  .gradient-card{
    transition: 0.3s;
    transform: scale(1);
    &:hover{
      transform: scale(1.02);
      .gradient-card-image{
        background-size: 105%;
      }
    }
  }
}

.note{
  border-radius: 8px;
  background: #E9E9E9;
  padding: 5.64px 12.23px 8.33px 12px;
  color: #000;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.125rem; /* 128.571% */
  text-transform: uppercase;
}

.slick-prev, .slick-next{
  display: none !important;
}

.feedback{
  .gradient-card{
    box-shadow: none;
  }
}

//..................... Menu............

.mobile-menu-board {
  width: 30px;
  height: 40px;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 991px) {
  .mobile-menu-board {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile-menu-board.active span:nth-of-type(1) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}
.mobile-menu-board.active span:nth-of-type(2) {
  opacity: 0;
}
.mobile-menu-board.active span:nth-of-type(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: -10px;
}
.mobile-menu-board span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  margin-bottom: 8px;
  background-color: #000000;
  position: relative;
}
.mobile-menu-board span:last-child {
  margin: 0;
}
.mobile-menu-board span:nth-of-type(1) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}
.mobile-menu-board span:nth-of-type(2) {
  opacity: 1;
}
.mobile-menu-board span:nth-of-type(3) {
  -webkit-transform: rotate(0);
  transform: rotate(0);
  top: 0;
}

.sales{
  position: relative;
}

.sale-card{
  width: 100%;
  height: 500px;
  border-radius: 35px;
  background: var(--linear-pr-color, linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%));
  box-shadow: 30px 74px 134px 0 rgba(0, 0, 0, 0.08);
  position: relative;
  overflow: hidden;

  @media (max-width: 350px){
    height: 400px;
  }


  img{
    position: absolute;
    width: 90%;
    left: -30px;
    top: 35px;

  }
}


.panda-anim{
  width: 180px;
  height: 240px;
  position: fixed !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  top: 300px;
  right: 50px;
  z-index: 1000;
  transition: unset !important;
  cursor: grab;

  .fa-xmark{
    position: absolute;
    top: -20px;
    right: 0;
    font-size: 25px;
    cursor: pointer;
  }

  .fa-up-right-and-down-left-from-center{
    position: absolute;
    top: -100px;
    right: -50px;
    font-size: 25px;
    cursor: pointer;
    transform: scale(3);
    display: none;
  }

  &.message-right{
    .panda-anim-message{
      left: 45%;
      border-radius: 50px 0 50px 0;
    }
  }

  &.close{
    transform: scale(0.2) !important;
    right: -22px !important;
    left: unset !important;
    top: 81% !important;
    cursor: pointer !important;
    .fa-up-right-and-down-left-from-center{
      display: block;
    }
    .fa-xmark{
      display: none;
    }
  }


  @media (max-width: 768px){
    width: 100px;
    height: 165px;
  }

  &:active{
    cursor: grabbing;
  }

  &.start-speak{
    .panda-anim-message{
      display: block;
    }
  }

  &-message{
    position: absolute;
    bottom: 100%;
    left: -120%;
    background: #fff;
    border-radius: 0 50px 0 50px;
    width: 300px;
    height: 170px;
    box-shadow: 0 0 15px #d7d7d7;
    padding: 50px 15px 30px 15px;
    font-size: 14px;
    display: none;
    cursor: default !important;

    @media (max-width: 768px){
      border-radius: 0 20px 0 20px;
      left: -150%;
      width: 185px;
      height: 100px;
      padding: 20px 15px 20px 15px;
    }

    &-body{
      overflow: auto;
      font-size: 14px;
      height: 100%;
      @media (max-width: 768px){
        font-size: 11px;
      }
      &::-webkit-scrollbar {
        width: 2px;
        height: 8px;
        border-radius: 5px;
      }
      &:after{
        content: " |";
        transition: 0.3s;
        opacity: 0;
        animation: spaceKey 0.8s infinite;
      }
    }
    &:before{
      content: "";
      width: 70px;
      height: 70px;
      background: url(../images/panda-message.svg) no-repeat center;
      background-size: cover;
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, -50%);
      @media (max-width: 768px){
        width: 30px;
        height: 30px;
      }
    }


  }
}

@keyframes spaceKey {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
}