@import "helper";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

$navbarHeight: 6.125rem;

nav{
  width: 100%;
  height: $navbarHeight;
  padding: 0 4.375rem;
  background: #F4F4F4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .nav-logo{
    width: 150px;
  }
  .nav-item{
    color: #303030;
    font-size: 1.375rem;
    font-weight: 500;
    letter-spacing: 1.1px;
    height: 100%;
    border-bottom: 1px solid #0000;
    transition: 0.3s;
    @include flex('c', 'c');
    background: linear-gradient(172deg, #0000, #0000, #0000, #0000, #0000);
    &:hover{
      background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      border-bottom: 1px solid #C13584;
    }
  }
  .dropdown-toggle{
   outline: none !important;
    border: 0 !important;
  }
  .dropdown-menu{
    min-width: auto !important;
  }
}

.def-image{
  width: 100%;
}

.btn-gradient{
  padding: 14px 32px;
  border-radius: 38px;
  background: linear-gradient(150deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
  color: #FFF;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1.2px;
  transition: 0.3s;
  background-size: 100%;
  &:hover{
    background: linear-gradient(150deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%);
    color: #fff;
    background-size: 300%;
  }
}

.header{
  margin-top: calc(#{$navbarHeight} + 3.1875rem);
  padding-bottom: 75px;
  &-title{
    color: #303030;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: -2.4px;
    width: 26.0625rem;
    .shape{
      position: relative;
      transform-origin: bottom;
      transform: translate(0, 0) rotate(0) scaleY(1);
      animation: shapeWord 2s linear;
      //animation-iteration-count: infinite;
    }
  }
  &-subtitle{
    color: rgba(30, 30, 30, 0.72);
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -0.72px;
    margin-bottom: 70px;
  }
}




@keyframes shapeWord {
  0%{
    transform: translate(-50px, -215px) rotate(0);
    animation-timing-function: ease-in;
  }
  18%{
    transform: translate(0,0) rotate(20deg) scaleY(0.7);
    animation-timing-function: ease-out;
  }
  30%{
    transform: translate(-30px, -100px) rotate(10deg) scaleY(1);
    animation-timing-function: ease-in;
  }
  45%{
    transform: translate(-20px, 0px) rotate(-20deg)  scaleY(0.8);
    animation-timing-function: ease-out;
  }
  80%{
    transform: translate(0, -70px) rotate(0) scaleY(1);
    animation-timing-function: ease-in;
  }
  89%{
    transform: translate(0, 0) rotate(0) scaleY(0.8);
    animation-timing-function: ease-out;
  }
  100%{
    transform: translate(0, 0) rotate(0) scaleY(1);
    animation-timing-function: ease-in;
  }
}

.services{
  background: #FAFAFA;
}

.section-title{
  color: #303030;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
}

.section-subtitle{
  color: #303030;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 159.5%; /* 31.9px */
  letter-spacing: 0.2px;
}

.gradient-card{
  width: 100%;
  padding: 2px;
  border-radius: 35px;
  background: #FFF;
  box-shadow: 30px 74px 134px 0 rgba(0, 0, 0, 0.08);
  background: linear-gradient(172deg, rgba(88, 81, 219, 0.97) 0%, rgba(131, 58, 180, 0.92) 23.08%, #C13584 53.01%, #E1306C 78.13%, #FD1D1D 100%);
  overflow: hidden;

  &:hover{
    .gradient-card-running-line{
      animation-play-state: running !important;
    }
  }

  &-body{
    width: 100%;
    min-height: 100%;
    background: #fff;
    border-radius: 33px;
    padding: 22px;
    overflow: hidden;

  }
  &-running-line{
    font-size: 170px;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 0 2px black;
    transform: translateX(111px);
  }
  &-title{
    color: #303030;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &-subtitle{
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 12px;
  }
  &-list{
    color: #303030;
    font-size: 12px;
    font-weight: 600;
    padding-left: 22px;
  }
}

@keyframes gradient-card-line {
  0%{
    transform: translateX(111px);
  }
  50%{
    transform: translateX(-100%);
  }
  100%{
    transform: translateX(111px);
  }
}

.table-tooltip{
  width: 56px;
  height: 50px;
  border-radius: 6px;
  background: rgba(131, 58, 180, 0.88);
  @include flex('c' ,'c');
  position: relative;
  color: #fff;
  font-size: 20px;
  &:after{
    content: "";
    position: absolute;
    right: -8px;
    top: 50%;
    transform: translateY(-50%);
    background: url("../images/arow-right.svg") no-repeat center;
    height: 16px;
    width: 8px;
  }
}
.border{
  border: 0.5px solid var(--color-split, rgba(0, 0, 0, 0.06)) !important;
}
.border-right{
  border-right: 0.5px solid var(--color-split, rgba(0, 0, 0, 0.06)) !important;
}
